//  Window
//------------

$window-default-size  : 100px;
$window-default-bg    : #ffffff;

$window-default-header-bg     : #cfcfcf;
$window-default-header-pd     : 5px;
$window-default-header-height : 25px;
$window-default-header-color  : #414141;

$window-default-footer-bg     : #e5e5e5;
$window-default-footer-pd     : 5px;
$window-default-footer-height : 15px;
$window-default-footer-color  : #414141;

$window-default-border-radius     : 5px;
$window-default-border-color      : #acacac;
$window-default-border            : 1px solid $window-default-border-color;
$window-default-border-color-sep  : #b6b6b6;
