.window.window-default(ng-draggable, ng-resizable, ng-model="window")
    .window-header
        button.close(type="button", ng-click="close()") &times;
        h4 {{window.title}}

    .window-body
        .content
            | {{window.content}}

    .window-footer